# Logs
log/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dep
node_modules
out
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Output/Build Artifacts
pub/
bin/

# Tauri/Rust
target/
src/core/target/

# Ruby/Fastlane
.bundle/
vendor/bundle
Gemfile.lock

# Android
**/*.apk
**/*.aab
.gradle/
build/
local.properties
capture/
memory_poller/
src/core/gen/android/app/build/
src/core/gen/android/build/
src/core/gen/android/.gradle/
*.keystore
.vite/

